/* general */
body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

/* header */
header {
  width: 100%;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  z-index: 5;
}

.logo {
  position: relative;
}

.logo img {
  height: 50px;
}

.nav {
  margin-right: 10px;
}

.nav span{
  text-decoration: underline;
  padding: 0 10px;
}

a {
  color: inherit;
}
/* mission */
.mission {
  top: 69px;
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.description {
  background-color: black;
  text-align: center;
  width: 100%;
}

h2,
h4 {
  margin: 18px;;
}
