/* general */
body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* header */
header {
  width: 100%;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.nav {
  margin-right: 10px;
}

.nav span{
  text-decoration: underline;
  padding: 0 10px;
}

a {
  color: inherit;
}
/* mission */
.mission {
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: 69px auto;
  position: relative;
}

.description {
  background-color: black;
  width: 100%;
}

.description h2,
.description h4 {
  margin: 18px;
}
/* featured */
.featured {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.sorts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.sort {
  margin: 0 14px;
}

.image {
  width: 300px;
  height: 200px;
  background-size: cover;
}

.image.berryblitz {
  background-image: url("../../resources/images/img-berryblitz.jpg");
}

.image.spiced-rum {
  background-image: url("../../resources/images/img-spiced-rum.jpg");
}

.image.donut {
  background-image: url("../../resources/images/img-donut.jpg");
}

.image.myrtle-ave {
  background-image: url("../../resources/images/img-myrtle-ave.jpg");
}

.image.bedford-bizarre {
  background-image: url("../../resources/images/img-bedford-bizarre.jpg");
}

.name {
  margin-top: 10px;
}
/* locations */
.locations {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url("../../resources/images/img-locations-background.jpg");
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}

.locations h2 {
  width: 100%;
  margin: 0;
}

.location {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.address {
  width: 300px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
}
/* contact */
.contact {
  height: 200px;
}
/* footer */
.footer h5 {
  margin-left: 20px;
  text-align: left;
}
